html, body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

body {
	background: #222 linear-gradient(to bottom, #222, #111);
	min-height: 100vh;
}

header {
	background: #ddd;
	display: flex;
	&.hidden {
		display: none;
	}
	#cover {
		background-size: cover;
		flex: 0 1 auto;
		width: 100px;
		height: 100px;
	}
	> div {
		margin: 1rem;
		flex: 1 1 auto;
		span {
			height: 50px;
			line-height: 50px;
		}
		audio {
			display: block;
			width: 100%;
		}
	}
}

div.tile {
	background: transparent center center no-repeat;
	background-size: contain;
	float: left;
	position: relative;
	text-align: center;
	margin: 1rem;
	overflow: hidden;
	a {
		text-decoration: none;
		display: block;
		width: 14vw;
		height: 14vw;
		box-sizing: border-box;
		padding: 1rem;
		span.channel,
		span.sound {
			background: rgba(0, 0, 50, 0.5);
			font-weight: bold;
			color: white;
			display: block;
		}
		span.sound {
			background: rgba(0, 0, 50, 0.7);
			font-weight: normal;
			margin-top: 1rem;
		}
		transition: transform 0.2s linear;
		&:hover {
			transform: scale(1.1);
		}
	}
}

form#filter {
	display: flex;
	input {
		flex: 1;
	}
}
