{% extends "earwig/manager_home.html" %}
{% load i18n %}

{% block appbar %}
<h2>{{ object.channel }} - {{ object }} [{{ object.status_label }}]</h2>
<span class="actions">
{% if object.can_publish %}
<a href="{% url 'earwig-sound-publish' pk=object.pk %}">{% trans "Publish" %}</a>
{% endif %}
{% if object.can_reject %}
<a href="{% url 'earwig-sound-reject' pk=object.pk  %}">{% trans "Reject" %}</a>
{% endif %}
{% if object.can_unpublish %}
<a href="{% url 'earwig-sound-unpublish' pk=object.pk %}">{% trans "Unpublish" %}</a>
{% endif %}
</span>
{% endblock %}

{% block breadcrumb %}
{{ block.super }}
<a href="{% url 'earwig-channel-detail' pk=object.channel.pk %}">{{ object.channel }}</a>
{% endblock %}

{% block content %}
<ul>
  <li>{% trans "Address:" %} <a href="{{ object.page_url }}">{{ object.page_url }}</a></li>
  <li>{% trans "Original Publication Date:" %} {{ object.original_publication_date }}</li>
  <li><audio controls><source src="{{ object.sound_url }}"></audio></li>
</ul>

<div class="description">
{{ object.description|safe }}
</div>
{% endblock %}
