{% extends "earwig/manager_home.html" %}
{% load i18n %}

{% block breadcrumb %}
{{ block.super }}
<a href="{% url 'earwig-channels' %}">{% trans "Channels" %}</a>
{% endblock %}

{% block appbar %}
<h2>{% trans "Channels" %}</h2>
<span class="actions">
<a rel="popup" href="{% url 'earwig-channel-add' %}">{% trans "Add Channel" %}</a>
</span>
{% endblock %}

{% block content %}
<ul class="objects-list single-links channels-list">
 {% for channel in object_list %}
 <li>
  <a href="{% url 'earwig-channel-detail' pk=channel.pk %}">{{ channel.title }}</a>
  <a rel="popup" class="delete" href="{% url 'earwig-channel-delete' pk=channel.pk %}">{% trans "remove" %}</a>
 </li>
 {% endfor %}
</ul>

{% include "gadjo/pagination.html" %}

{% endblock %}
