{% extends "earwig/manager_home.html" %}
{% load i18n %}

{% block appbar %}
<h2>{{ object }}</h2>
{% endblock %}

{% block content %}
<form method="post">
  {% csrf_token %}
    {% blocktrans %}
    <p>
    Are you sure you want to delete this channel?
    </p>
    <p>
    Do note related sounds will <strong>not</strong> be deleted.
    </p>
    {% endblocktrans %}
  <div class="buttons">
    <button class="delete-button">{% trans 'Delete' %}</button>
    <a class="cancel" href="{% url 'earwig-channels' %}">{% trans 'Cancel' %}</a>
  </div>
</form>
{% endblock %}
