{% extends "earwig/manager_home.html" %}
{% load i18n %}

{% block appbar %}
<h2>{% trans "New Channel" %}</h2>
{% endblock %}

{% block content %}
<form method="post" enctype="multipart/form-data">
{% csrf_token %}
{{ form.as_p }}
<div class="buttons">
<button class="submit-button">{% trans "Add" %}</button>
<a class="cancel" href="{% url 'earwig-manager-homepage' %}">{% trans "Cancel" %}</a>
</div>
</form>
{% endblock %}
