{% extends "base.html" %}
{% load i18n %}

{% block appbar %}
<span class="actions">
<a href="{% url 'earwig-channels' %}">{% trans "Channels" %}</a>
<a rel="popup" href="{% url 'earwig-channel-add' %}">{% trans "Add Channel" %}</a>
</span>
{% endblock %}

{% block content %}

<form>
  <p>
   <input name="q" type="search" value="{{view.get_query_filter}}">
   <select name="q_status">
     <option value="_all">{% trans "All" %}</option>
     {% for status_id, status_label in statuses %}
     <option value="{{ status_id }}" {% if status_id == view.get_status_filter %}selected{% endif %}>{{ status_label }}</option>
     {% endfor %}
   </select>
   <button>{% trans 'Search' %}</button>
  </p>
</form>

<table class="main sounds">
<thead>
  <tr>
    <th>{% trans "Channel" %}</th>
    <th>{% trans "Title / Description" %}</th>
    <th>{% trans "Original Publication Date" %}</th>
    <th>{% trans "Addition Date" %}</th>
    <th>{% trans "Actions" %}</th>
  </tr>
</thead>
<tbody>
 {% for sound in object_list %}
 <tr>
   <td><a href="{% url 'earwig-channel-detail' pk=sound.channel.pk %}">{{ sound.channel.title }}</a></td>
   <td><a class="title" href="{% url 'earwig-sound-detail' pk=sound.pk %}">{{ sound.title }}</a>
       {% if sound.description %}<span class="description">{{ sound.description|striptags|truncatewords:40|safe }}</span>{% endif %}
   </td>
   <td>{{ sound.original_publication_date|date:"DATE_FORMAT" }}</td>
   <td>{{ sound.creation_timestamp }}</td>
   <td>
     {% if sound.can_publish %}
       <a href="{% url 'earwig-sound-publish' pk=sound.pk %}?next={{next}}">{% trans "Publish" %}</a> /
     {% endif %}
     {% if sound.can_reject %}
       <a href="{% url 'earwig-sound-reject' pk=sound.pk %}?next={{next}}">{% trans "Reject" %}</a> /
     {% endif %}
     {% if sound.can_unpublish %}
     <a href="{% url 'earwig-sound-unpublish' pk=sound.pk %}?next={{next}}">{% trans "Unpublish" %}</a>
     {% endif %}
 </tr>
 {% empty %}
 <tr>
   <td colspan="5">{% trans "No search results" %}</td>
 </tr>
 {% endfor %}
</tbody>
</table>

{% include "gadjo/pagination.html" %}

{% endblock %}
