{% extends "earwig/manager_home.html" %}
{% load i18n %}

{% block appbar %}
<h2>{{ object }}</h2>
<span class="actions">
<a rel="popup" href="{% url 'earwig-channel-delete' pk=object.pk %}">{% trans "Delete" %}</a>
<a rel="popup" href="{% url 'earwig-channel-edit' pk=object.pk %}">{% trans "Edit" %}</a>
</span>
{% endblock %}

{% block content %}

<div class="description">{{ object.subtitle }}</div>

<ul>
  <li>{% trans "Address:" %} <a href="{{ object.channel_url }}">{{ object.channel_url }}</a></li>
  <li>{% trans "Feed Address:" %} <a href="{{ object.feed_url }}">{{ object.feed_url }}</a></li>
  <li>{% trans "Policy:" %}
      {% if object.policy == '' %}{% trans "Moderate" %}
      {% else %}{% trans "Autopublish" %}{% endif %}</li>
  </li>
</ul>

<h3>{% trans "Sounds" %}</h3>
{{ block.super }}
{% endblock %}
