.external-link::after {
	font-family: FontAwesome;
	padding-left: 1ex;
	content: "\f08e";  // external-link
}

table.sounds {
	td {
		vertical-align: top;
	}
	tr :nth-child(1),
	tr :nth-child(2) {
		text-align: left;
	}
	a.title {
		font-weight: bold;
	}
	span.description {
		display: block;
		max-width: 80ex;
	}
}

ul.channels-list {
	span.count {
		opacity: 0.5;
	}
}
