{% load static gadjo %}<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
  <script src="{% xstatic 'jquery' 'jquery.min.js' %}"></script>
  <script src="{% static 'js/earwig.js' %}"></script>
  <title>Earwig</title>
 </head>
 <body>
 {% block body %}
 {% endblock %}
 </body>
</html>
