{% extends "earwig/base_public.html" %}
{% load i18n %}

{% block body %}

<header class="hidden">
<div id="cover">
</div>
<div>
  <span id="title">&nbsp;</span>
  - <a id="site" href="#">{% trans "Visit Site" %}</a>
  <audio controls></audio>
</div>
</header>

<form id="filter">
<input type="search"> <button>{% trans "Search" %}</button>
</form>

<div id="content">
{% for sound in object_list|slice:":50" %}
<div class="tile" style="background-image: url({% url 'sound-image' pk=sound.pk %})">
  <a href="#" data-sound-uri="{{ sound.sound_url }}"
              data-page-uri="{{ sound.page_url }}">
    <span class="channel">{{ sound.channel.title }}</span>
    <span class="sound">{{ sound.title }}</span>
  </a>
</div>
{% endfor %}
</div>

{% endblock %}
